{
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "tabWidth": 4,
    "singleAttributePerLine": false
}
